---
import Layout from './LayoutPost.astro'
import {useLocale} from '@utils/locale'
import {formatDateYMD} from "@utils/format";
import {PostFrontMatter} from "../type";

interface Props {
    FrontMatter: PostFrontMatter;
}
const {FrontMatter} = Astro.props
const {path, t, locale} = useLocale(Astro.url)
const title = locale === 'en' && FrontMatter['title-en'] ? FrontMatter['title-en'] : FrontMatter['title']
---

<Layout title={title} navbar={false}>
    <style is:inline>
        .text-4xl{font-size:1.75rem;margin-top:3.5rem}
    </style>
    <div class="mt-6"><h1 class="text-4xl">{title}</h1></div>
    <article class="prose dark:prose-invert prose-stone max-w-prose mt-6">
        <slot/>
    </article>
</Layout>