---
import '../styles/index.css'
import Header from './HeaderPost.astro'
import Footer from './Footer.astro'
import { useLocale } from '@utils/locale'
import {PandaConfig} from "../config.js";
const { t, locale } = useLocale(Astro.url)
const {description:defaultDescription,title:defaultTitle} = PandaConfig
export const prerender = true
export interface Props {
    title: string
    navbar?: boolean
    description?: string
}

let { title,transition } = Astro.props
const fullTitle = `${title} - ${defaultTitle}`
---

<!doctype html>
<html lang={locale} class="mx-4">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{fullTitle}</title>
    </head>
    <body class="max-width dark:bg-stone-700">
        <Header />
        <main >
            <slot />
        </main>
        <Footer />
    </body>
</html>